@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #1B8B4B;
    --secondary-color: #F27121;
    --bg-text-dark: #2C3E50;
    --bg-text-light: #F4F7F6;
    --emphasis: #0a2540;

    --primary-font: "Oswald", sans-serif;
    --secondary-font: "Inter", sans-serif;
}

.header {
    background-color: var(--bg-text-dark);
}

.header-logo {
    height: 80px;
}

.header .nav-link {
    font-family: var(--primary-font);
    font-size: 16px;
    color: var(--bg-text-light);
}

.header .btn {
    background: var(--secondary-color);
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--bg-text-light);
    padding: 8px 12px;
    text-align: center;
    margin: 0 auto;
}



